@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager

@rendermode InteractiveWebAssembly

<h3>Chat</h3>

@if (IsConnected)
{
    if (currentScreen.Equals("joinScreen"))
    {

    <input type="text" @bind="userInput" />
    <input type="text" @bind="messageInput" />
    <button @onclick="JoinLobby">Send</button>
    <h3>@joinedLobby</h3>

    <ul id="messagesList">
        @foreach (string message in messages)
        {
            <li>@message</li>
        }


        </ul>
    }
    else if (currentScreen.Equals("a"))
    {



    }
    else if (currentScreen.Equals(""))
    {
        
    
    
    }

}
else
{
    <span>Connecting. . . </span>

}

@code {
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string userInput;
    private string messageInput;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
        .Build();

        hubConnection.On<string, string>("LobbyJoined", (user, message) =>
        {
            var encodedMessage = $"{user}: {message}";
            messages.Add(encodedMessage);
            InvokeAsync(StateHasChanged);
        });


        hubConnection.On<string>("LobbyJoined", username =>
        {
            if (username.Equals("Could not resolve playerDataServices"))
                currentScreen = "Error";

            joinedLobby = true;
            messages.Add(username);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    Task Send() => hubConnection.SendAsync("JoinLobby", username, userCountry);

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    public void JoinLobby()
    {


        hubConnection.SendAsync("JoinLobby", userInput, messageInput);

    }
}
