body {
}

h3 {
    color:white;
}

button {
    color:white;
    background-color:cornflowerblue;
    border:none;
    border-radius:5px;
    font-size:18px;
    padding: 5px 10px;
    margin:10px;
}



p {
    font-size: 28px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
    color:white;


}

p b {
     text-decoration: underline;
     color: red;
}

.player-list-display {
    border: none;
    background: linear-gradient(to bottom, black, transparent); /* Ensure contrast */
    height: 40vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; /* Include borders in dimensions */
    overflow: hidden; /* Prevent margin collapse */
    padding: 5px; /* Optional: Add some padding */
}

ul {
    font-size: 30px;
    color: white;
    
}



.background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #100f2b, #1d3875);
    background-size: 300%;
    z-index: -1;
    animation: slide 10s linear infinite alternate;
}

@keyframes slide {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.header {

    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    z-index:900;
}

.screen {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    height:90vh;
    padding:20px;
}

.start-button-container {
    margin-top:100px;
}

.options {
    display:flex;
    flex-direction:row;
}

.options-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px; /* Optional: Adds space inside the columns */
    margin: 10px; /* Optional: Adds space between the columns */
}

#left-options {

}

#wikipedia-text-entry {
    height:200px;
}

#right-options {

}


.footer {

    display: flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    z-index:900;
}


.player-list-display {
    height:40vh;
    border-block-color:black;
}

.score-screen button, .final-score-screen button, .answer-screen button {
    
}

.question-box {
    background: rgba(128, 128, 128, 0.0);
    height: 30vh;
    width: 120%;
    display: flex;
    justify-content: center;
    width: 80%
}

.correct-answer-expanded {
    display:inline-block;
    overflow:hidden;
    width:80%;
    
}

.score-display {

    height:60vh;
}


button {
    z-index:1;
}


