@page "/join"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager


<h3>JoinScreen</h3>

@if (IsConnected)
{
    <input type="text" @bind="userName" />
    <input type="text" @bind="userCountry" />
    <button @onclick="JoinLobby">Join</button>

}

else
{



}

@code {
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string userName;
    private string userCountry;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/playerhub"))
        .Build();

        hubConnection.On<string, string>("JoinLobby", (user, message) =>
        {
            var encodedMessage = $"{user}: {message}";
            messages.Add(encodedMessage);
            InvokeAsync(StateHasChanged);

        });

        await hubConnection.StartAsync();
    }

    Task JoinLobby() => hubConnection.SendAsync("JoinLobby", userName, userCountry);

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    public void enterLobby()
    {
            
    
    
    }
}
