@page "/playscreen"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager


<h3>PlayScreen</h3>

@if (IsConnected)
{
    @if (currentScreen.Equals("joinScreen"))
    {
        <input type="text" @bind="userName" />
        <input type="text" @bind="userCountry" />
        <button @onclick="JoinLobby">Join</button>
        <h3>@added</h3>

    }
    else if (currentScreen.Equals("gameScreen"))
    {


    }
    else if(currentScreen.Equals("scoreScreen"))
    {


    }
    else
    {
        <h3> There has been an error of some kind </h3>   
    
    }
}

else
{



}

@code {
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string? userName;
    private string? userCountry;
    private string? currentScreen = "joinScreen";
    private bool added = false;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/playerhub"))
        .Build();

        hubConnection.On<string, string>("LobbyJoined", (user, message) =>
        {
            added = true;
            InvokeAsync(StateHasChanged);

        });

        await hubConnection.StartAsync();
    }

    Task JoinLobby() => hubConnection.SendAsync("JoinLobby", userName, userCountry);

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;

    public void enterLobby()
    {
            
    
    
    }
}
