.nav_button {
    justify-content: center;
    margin: 20px;
}

.nav-button:hover{
    background-color: floralwhite;

}

#host-button {
    padding: 10px;
    background-color: blueviolet;
    color:black;
    border: none;
    border-radius: 5px;
    margin: 0px 10px;
    cursor: pointer;
}

#join-button {
    padding: 10px;
    background-color: blueviolet;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 0px 10px;
    cursor: pointer;
}
