@page "/entry"

<PageTitle>Entry</PageTitle>

<h3>Entry</h3>
<div class="nav-buttons-container">
    
    <NavLink class="nav-button" id="host-button" href="chat">
        <button> Chat </button>
    </NavLink>

    <NavLink class="nav-button" id="join-button" href="Weather">
        <button> Weather </button>
    </NavLink>

</div>


@code {

}
