@page "/"

<PageTitle>Home</PageTitle>
<div class="background-gradient">

<h3 class="homeLabel">Home</h3>

<div class="nav-buttons-container">

    <NavLink class="nav-button" id="host-button" href="host">
        <button> Host </button>
    </NavLink>

    <NavLink class="nav-button" id="join-button" href="player">
        <button> Join </button>
    </NavLink>

</div>
</div>

@code{
    
}
