body {
}

h3 {
    display:flex;
    justify-content:center;
    color: red;
}

.nav-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

button {
    margin: 20px;
    width: 150px;
    text-align:center;
}


.background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #ffb908, #ff96da);
    background-size: 300%;
    z-index: -1;
    animation: slide 10s linear infinite alternate;
}

@keyframes slide {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}